<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<title>系统主页</title>
<#include "/include/_head.html">
<!-- <script type="text/javascript" src="[@common.ctx/]/webjars/bmap/js/baidumap.js"></script>
<link rel="stylesheet" type="text/css" href="[@common.ctx/]/webjars/bmap/lib/ol3/ol.css" /> -->
</head>
<body>
<!-- main container -->
<@layout.application>
<div class="row" id="dashboard-main">
</div>
</@layout.application>
<!-- <script type="text/javascript" src="[@common.ctx/]/vendor/js/dashboard/dist.js"></script> -->
</body>
</html>