<div id="dialog-box">
  <div class="modal fade" id="dialog" data-hidden-remove="true">
    <div class="modal-dialog">
      <div class="modal-content"></div>
    </div>
  </div>
  <div class="modal fade" id="dialog-lg" data-hidden-remove="true">
    <div class="modal-dialog modal-lg">
      <div class="modal-content"></div>
    </div>
  </div>
  <div class="modal fade" id="dialog-sm" data-hidden-remove="true">
    <div class="modal-dialog modal-sm">
      <div class="modal-content"></div>
    </div>
  </div>
</div>