<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="stylesheet" type="text/css" href="<@common.ctx/>/assets/bootstrap/css/theme-yeti.css" />
<script type="text/javascript" src="<@common.ctx/>/assets/js/base.js"></script>
<script type="text/javascript" src="<@common.ctx/>/assets/js/echarts-all.js"></script>
<!--[if lt IE 9]>
<script type="text/javascript" src="[@common.ctx/]/assets/js/ie8support.js"></script>
<![endif]-->
<script type="text/javascript">
var I18N_LOCALE = '${requestContext.locale}',CTX = '<@common.ctx/>';
</script>
<script type="text/javascript" src="<@common.ctx/>/vendor/js/globle.js"></script>