<div id="sideslip-box">
	<div class="modal fade sideslip" id="sideslip-lg" data-hidden-remove="true">
		<div class="modal-dialog modal-lg">
			<div class="modal-content"></div>
		</div>
	</div>
	<div class="modal fade sideslip" id="sideslip" data-hidden-remove="true">
		<div class="modal-dialog">
			<div class="modal-content"></div>
		</div>
	</div>
	<div class="modal fade sideslip" id="sideslip-sm" data-hidden-remove="true">
		<div class="modal-dialog modal-sm">
			<div class="modal-content"></div>
		</div>
	</div>
</div>