<!DOCTYPE HTML>
<html lang="zh-cn">
<head>
<title>能源消费查询-能源消费管理-能效云数据中心</title>
<#include "/include/_head.html" />
</head>
<body>
<@layout.application>
  <div class="page-header m-t-xs m-b-xs">
  	<h3 class="m-t-no m-b-no">文件上传</h3>
  </div>
  <div class="panel panel-default">
  	<div class="panel-heading">查询条件
	<ul class="nav nav-pills pull-right">
		<li>
		<a class="panel-toggle text-muted active" href="#">
			<i class="fa fa-caret-down text-active"></i>
			<i class="fa fa-caret-up text"></i>
		</a></li>
		</ul>
	</div>
  	<div class="panel-body m-sm collapse">
  	  <div class="row">
  	  	  <form id="commonForm" class="form-horizontal">
            <div class="form-group">
          	  <label class="col-sm-2 control-label">名称:</label>
	          <div class="col-sm-2">
	                <input id="search_file_name" class="form-control" >
	          </div>
	          <div class="col-sm-1">
            	<button id="ESSFile_search" class="btn btn-primary"
				  data-loading-text="<i class='fa fa-spinner fa-spin'></i>" type="button">
					<i class="fa fa-search"> 查询</i>
				</button>
              </div>
          	</div>
          </form>
  	  </div>
  	</div>
  </div>
  <div class="panel panel-default">
  	<!-- <input id="userType" type="hidden"  value="${userType}" />
  	<input id="relaId" type="hidden" value="${relaId}" /> -->
  	<div class="panel-heading">名称
  	<#-- <@shiro.hasRole name="DC"> -->
  		<span class="pull-right">
          <a class="btn btn-primary btn-xs" data-toggle="modal" data-target="#dialog" 
          	href="<@common.ctx/>/file/fileUpload"><i class="fa fa-upload"> 上传</i></a>
        </span>
    <#-- </@shiro.hasRole> -->
  	</div>
  	<div style="padding-left: 0;padding-right:0;">
      <div id="fileTable">
      </div> 
  	</div>
  </div>
</@layout.application>
<script type="text/javascript" src="<@common.ctx/>/vendor/js/file/file.js"></script>
</body>
</html>